# *args **kwargs 사용하는 이유

In [3]:
def test(*arg, **kwarg)

SyntaxError: ignored

In [2]:
# 어떤 입력이든 에러가 없이 어떤 값이든 받도록 도와주기 위함

In [4]:
# *arg 예제 1.
def add(x, y):
    return x * y

add(3,4)

12

In [5]:
add(3,4,7)

TypeError: ignored

In [6]:
def add(*x):
    return sum(x)

In [7]:
add(3,4,5,6)

18

In [9]:
# **는??

def add_2(*x, y = 0):
    return sum(x) + int(y)

add_2(1,2, y = "3")

6

In [16]:
# 2. **의 사용방법

def param(**kwargs):
    print(kwargs)


param(max_depth = 1.5, gamma = 4)

{'max_depth': 1.5, 'gamma': 4}

In [20]:
## 그래서 두가지를 같이 쓰게 되면

def function(*a, **b):
  print(a)
  print(b)

# 어떻게든 오류가 나지 않고, 값을 받아오겠다.

# 1. 어떤 값이 나올까? 
# 2. 이 값은 어떤 자료형태인가? 리스트, 튜플, 셋, 딕셔너리

function(41)

(41,)
{}

In [21]:
function(1,2,3,4,5)

(1, 2, 3, 4, 5)
{}

In [22]:
function(x=3)

()
{'x': 3}

In [23]:
function(x=3, y=4)

()
{'x': 3, 'y': 4}

In [25]:
function(1,2,3,4,5,x=3,y=4)

(1, 2, 3, 4, 5)
{'x': 3, 'y': 4}

In [26]:
function(x=1,1,2,2)

SyntaxError: ignored

In [27]:
function(a=4)

()
{'a': 4}

# args / kwangs

https://engineer-mole.tistory.com/279

파이썬 함수에서는 인수 개수를 변경할 수 있다.
위치 인수에 대해 첫번째, 두번째는 필수, 세번째 이후는 선택으로 정할 수 있는데, 임의로 개수가 변하는 인수를 가변 길이 인수라 부르고, *를 붙이면 가변 길이 인수가 된다. 지정한 인수가 튜플로 지정이 되고, args라는 변수명을 많이 사용한다.

* 결국 동시에 여러 입력값을 주고 싶을때 사용한다.
* 아무 이름이나 사용해도 되긴한다. *만 붙이면
* Tuple처럼 사용이 가능하다. 굳이 리스트나 튜플로 변경하지 않아도 된다.
* 가변인자는 들어오는 인자의 갯수가 언제나 변할 수 있다.

In [30]:
# args 예시 1
def a_test(a, *args):
  print(a, args)

a_test(1,2,3,4,5,6)

# a= 1 *args = 2-6

1 (2, 3, 4, 5, 6)

In [34]:
# kwargs 예시 1

def b_test(a, *kwargs):
  print(a, kwargs)

b_test(1,b=2,c=3,d=4,e=5,f=6)

TypeError: ignored

In [36]:
# 변수 앞에 *은 언패킹
# args 예시 2

def c_test(a,args):
    print(a, *args)

c_test(1,(2,3,4,5,6))

1 2 3 4 5 6

In [37]:
# 변수의 언패킹
a, b, c =([1,2],[3,4],[5,6])

In [38]:
print(a)
print(b)
print(c)

[1, 2]
[3, 4]
[5, 6]

In [39]:
data = ([1,2],[3,4],[5,6])
print(*data)

[1, 2] [3, 4] [5, 6]

In [41]:
def print_args(*args):
  print(args)
  for x in args:
      print(x)

print_args(100, True, 'leehojun')

(100, True, 'leehojun')
100
True
leehojun

In [42]:
def func(x, y, *args):
  print(f"첫번째값은 {x}")
  print(f"두번째값은 {y}")
  if args:
    print(f"세번째 이후의 값은 {args}")

func(1,2)

첫번째값은 1
두번째값은 2

In [43]:
func(1,2,3,4,5)

첫번째값은 1
두번째값은 2
세번째 이후의 값은 (3, 4, 5)

kwargs

**kwargs는 딕셔너리 형태로 가변인수를 받을 수 있는 방법입니다. 

사용방법은 args와 동일하고, args는 튜플형식으로 받지만
kwargs는 딕셔너리 형태로 받는다는 특징이 있습니다.

In [44]:
# kwargs 

def print_kwargs(a, **kwargs):
  print(a)
  print(kwargs)
  for i in kwargs:
    print(i)

print_kwargs(100, name = 'leehojun', age = 10)

100
{'name': 'leehojun', 'age': 10}
name
age

In [45]:
def func(x, y, **kwargs):
  print(f"첫번째 인자는 x")
  print(f"두번째 인자는 y")
  if kwargs:
    print(f"세 번째 이후의 인수 : {kwargs}")

func(x=1, y=2)

첫번째 인자는 x
두번째 인자는 y

In [46]:
func(x=1, y=2, z = 3, w= 4)

첫번째 인자는 x
두번째 인자는 y
세 번째 이후의 인수 : {'z': 3, 'w': 4}

args와 kwargs의 응용

앞에는 args형식으로 뒤에는 kwargs형식으로 받게되면 정상적으로 작동합니다. 파라미터를 넣을때 순서를 바꾸거나 혼합하면 에러가 발생됩니다.

In [47]:
# 아래 예제는 파라미터의 값을 선언해서 보내는 형식으로 구성되어 있습니다. 
# 예제 뿐만 아니라 다양하게 실습해 보시기 바랍니다.

def print_args_kwargs(*args, **kwargs):
    print('args:', args)
    for x in args:
        print(x)
    print('kwargs:', kwargs)
    for x in kwargs:
        print(x)
        print(kwargs[x])

inputlist=[100, True, 'leehojun']
inputdic={'score':100, 'name':'leehojun', 'age':'10'}
print_args_kwargs(*inputlist)
print('--------')
print_args_kwargs(**inputdic)
print('--------')
print_args_kwargs(*inputlist, **inputdic)

args: (100, True, 'leehojun')
100
True
leehojun
kwargs: {}
--------
args: ()
kwargs: {'score': 100, 'name': 'leehojun', 'age': '10'}
score
100
name
leehojun
age
10
--------
args: (100, True, 'leehojun')
100
True
leehojun
kwargs: {'score': 100, 'name': 'leehojun', 'age': '10'}
score
100
name
leehojun
age
10

In [48]:
# 가변 길이 위치 인수와 키워드 인수의 조합

# 가변 길이 위치 인수와 키워드 인수 조합
def func(x, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)


print("---첫 번째 인수만 지정한 결과---")
func(1)

print("---길이가 변하는 인수를 지정한 결과---")
func(1, 100, 200, 300, a="X", b="Y", c="Z")

---첫 번째 인수만 지정한 결과---
1
()
{}
---길이가 변하는 인수를 지정한 결과---
1
(100, 200, 300)
{'a': 'X', 'b': 'Y', 'c': 'Z'}

In [49]:
def 가격계산(할인율, *구매가_목록):
    """구매가 목록을 합산하고, 할인율을 반영해서 가격을 계산한다."""
    return (1 - 할인율) *  sum(구매가_목록)

가격계산(0.25, 10000)

7500.0

In [50]:
가격계산(0.25, 10000, 15000, 25000)

37500.0

In [51]:
# 기타 *의 활용법

one, two, *three = 1,2,3,4,5
print(one, two, three)

1 2 [3, 4, 5]

In [58]:
# 시퀀스 언패킹 1 - 리스트 튜플
# 함수 호출시 위치인수 지정하기 - 함수 사용시 적용할수 있음

def func(x, y, z):
  print(x, y ,z)
  return x + y + z

# 언패킹 되는 함수 x,y,z
param = [1,2,3] # 리스트가 풀리게 된다.
w = func(*param)
print(w)

1 2 3
6

In [59]:
param = [1,2,3] # 리스트가 풀리게 된다.
w = func(*param)
print(w)

1 2 3
6

In [61]:
# 키워드 인수 데이터를 받아올때

def func(x,y,z):
  print(x,y,z)
  return x + y + z

params = {"x" : 1, "y" : 2, "z" : 3 }
w = func(**params)
print(w)

1 2 3
6

In [62]:
# 함수 호출시 인자가 더 많은 경우

def func(x, y, z, a1,b1,c1):
  print(x,y,z,a1,b1,c1)
  return x + y + z + a1 + b1 + c1

param1 = [1,2,3]
param2 = {"x" : 1, "y" : 2, "z" : 3}
w = func(*param1, **param2)
print(w)

TypeError: ignored

In [63]:
def func(x, y, z, a1, b1, c1):
  print(x, y, z, a1, b1, c1)
  return x + y + z + a1 + b1 + c1

param1 = [1,2,3]
param2 = {"a1" : 1, "b1" : 2, "c1" : 3}
w = func(*param1, **param2)
print(w)

1 2 3 1 2 3
12

In [64]:
def counter(*args):
  count = len(args)
  return count

print(counter(["test","hello","python"]))

# 1. 1개
# 2. 2개
# 3. 3개
# 4. 4개
# 5. 5개

1

In [65]:
def counter(args):
  count = len(["test","hello","python"])
  return count

print(counter(["test","hello","python"]))

# 1. 1개
# 2. 2개
# 3. 3개
# 4. 4개
# 5. 5개

3

In [73]:
# 날짜변수 다루기 예제

def data_to_string(y,m,d):
    """연도, 월, 일을 입력받아서  yyyy년 mm월 dd일로 변환"""
    return str(y) + "년 " + str(m) + "월 " +str(d) + "일"

date = (2023,5,8)
data_to_string(date[0], date[1], date[2])

'2023년 5월 8일'

In [74]:
data_to_string(*date)

'2023년 5월 8일'

In [75]:
# 함수를 변수로 다루기

def add_num(x, y):
  return x + y

# 변수에 대입할 수 있음
x = add_num

# 함수를 실행
z = x(100, 200)
print(z)

300

In [83]:
# 어떤 함수가 몇번 호출되었는지 확인 실행할때!!

def outer_function():
  """ 외부 함수 """

  def inner_function():
    """내부 함수"""
    count = 0
    count += 1   
    print(f"실행횟수가 {count}회 실행되었습니다.")

  return inner_function

func1 = outer_function()

# 함수 실행
func1()
func1()
func1()

실행횟수가 1회 실행되었습니다.
실행횟수가 1회 실행되었습니다.
실행횟수가 1회 실행되었습니다.

In [84]:
# 어떤 함수가 몇번 호출되었는지 확인 실행할때!!

def outer_function():
  """ 외부 함수 """
  count = 0
  def inner_function():
    """내부 함수"""
    nonlocal count # 이 nonlocal 함수는 저장이 가능한 함수 count값을 저장 
    count += 1   
    print(f"실행횟수가 {count}회 실행되었습니다.")

  return inner_function

func1 = outer_function()

# 함수 실행
func1()
func1()
func1()

실행횟수가 1회 실행되었습니다.
실행횟수가 2회 실행되었습니다.
실행횟수가 3회 실행되었습니다.

In [87]:
# 데코레이터 사용
# 데코레이터 고유 기능 - 기본 함수를 변경하지 않고 기능을 추가할 수 있다
def add_message(f):
    """함수 앞뒤로 시작/종료 메세지를 추가한다"""

    def new_func():
        print("처리를 시작합니다.")
        f()
        print("처리를 종료합니다")
    
    return new_func

def sample_func():
    """실행 메세지를 표시하는 함수"""
    print("sample_func 함수 처리를 실행합니다.")

# sample_func에 대해 추가한 함수를 실행
deco_func = add_message(sample_func)

deco_func()

처리를 시작합니다.
sample_func 함수 처리를 실행합니다.
처리를 종료합니다

# 람다식

lambda()는 익명함수, 이름이 없는 함수

In [88]:
hojun = print
hojun('hello world')

hello world

print를 hojun으로 받고, Print함수를 호출할 수 있다.
즉, 이름이 있는 것은 변수로 지정할 수 있다.

In [89]:
def add(x,y):
  return x + y
def sub():
  pass
def div():
  pass
def mul():
  pass

calculator = [add, sub, div, mul]
print(calculator[0](10,20))

30

우선 add, sub, div, mul이라는 사칙연산을 수행하는 함수를 선언해주었습니다. 그 다음 각 함수들의 이름을 calculator라는 배열에 넣어주었고, print로 0번째 배열을 호출하였더니 함수 add의 결과값인 30이 나오게 되었습니다.

우리가 일반적으로 사용할 수 있는 변수의 위치에 ( )(괄호)만 사용하지 않는다면 변수처럼 사용할 수 있으며, 호출할 때는 '( )'(괄호)를 사용해줍니다.

그럼 lambda함수는 왜 익명함수 일까요? 이름이 있는 함수들과는 다르게 매우 간결하게 작성할 수 있기 때문입니다.

In [90]:
# 람다식 람다함수
lambda 매개변수 : 결과

In [91]:
# 예제
# x라는 매개변수가 들어오면 x ** 2를 해서 return

제곱 = lambda x : x **2
제곱(3)

9

In [92]:
(lambda x : x ** 2)(3)

9

In [93]:
# 하나 더 보면 예제 2

def f(x, y):
  return x + y

print(f(1,4))

5

In [94]:
f = lambda x, y : x + y
print(f(1,4))

5

In [95]:
print(f(1))

TypeError: ignored

In [96]:
func = lambda x : "*" + str(x) + "*"

print(func("바나나"))

*바나나*

# Map 함수

lambda 함수와 가장 많이 조합되어 이용하는 함수입니다. 간단히 설명드리도록 할게요.

방금 위에서 만들었던 매개변수를 제곱하여 return하는 함수를 만들어 볼겁니다. 그런데 아까 위에서 작성했던 예제는 하나의 값만 받고 하나의 값만 리턴할 수 있었죠?

여러값이 들어오게 된다면 어떻게 해야할까요?

In [97]:
# 1번째 방법 map

def 제곱(x):
  return x ** 2

list(map(제곱, [1,2,3,4]))

[1, 4, 9, 16]

In [98]:
# 2번째 방법 map

list(map(lambda x : x ** 2, [1,2,3,4]))

[1, 4, 9, 16]

In [99]:
# 다른 예시


ex = [1,2,3,4,5]
f = lambda x : x ** 2

print(list(map(f, ex)))

[1, 4, 9, 16, 25]

In [100]:
# 위 코드에서는 먼저 ex라는 리스트를 먼저 만들고, 입력된 값을 제곱하는 람다함수 f를 생성하였습니다.
# 결국 Map은 mapping을 생각해보면 편한데, map(함수 이름, 리스트 데이터)라는 형태에 맞춰 함수 F에 ex의 요소를 매핑하라라는 뜻이다.

In [101]:
# 1.1 제너레이터 사용

# 파이썬 3.x 버전부터는 반드시 list(map(f, ex)) 리스트를 꼭 붙여야 리스트 형태로 자료 붙여지게되요
# map(f, ex) -> list(map(f, ex))
# 제너레이터 장점은 시퀀스 자료형의 데이터를 처리할 때 실행 지점의 값을 생성해서 효율적으로 메모리를 관리

In [102]:
# 리스트가 없으면?

ex = [1,2,3,4,5]
f = lambda x : x**2
for value in map(f,ex):
  print(value)

1
4
9
16
25

In [103]:
# 무언가의 값을 추가하기 위해서는 append
new_list = []
ex = [1,2,3,4,5]
f = lambda x : x**2
for value in map(f,ex):
  new_list.append(value)

In [104]:
new_list

[1, 4, 9, 16, 25]

In [107]:
ex = [1,2,3,4,5]
f = lambda x : x ** 2

print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [108]:
# 리스트 컴프리헨션

ex = [1,2,3,4,5]
[x ** 2 for x in ex]

[1, 4, 9, 16, 25]

In [109]:
# lambda함수의 filter 기능
# 조건문

list(filter(lambda x : x > 50, range(100)))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

## map 함수와 비슷하지만 자주 언급되는 reduce 함수
* reduce 함수는 map함수와 용법은 다르고, 형제같은 함수
* reduce 함수를 모두 적용한 다음에, 모든 값을 통합하는 함수

In [115]:
from functools import reduce

print(reduce(lambda x,y : x + y, [1,2,3,4,5]))

#1번째 계산
#x = 1 y = 2 결과 3

#2번째 계산
#x = 3 y = 3 결과 6

#3번째 계산
#x = 6 y = 4 결과 10

#4번째 계산
#x = 10 y = 5 결과 15

15

In [116]:
x = 0
for y in [1,2,3,4,5]:
    x += y
print(x)

15

# 1. 은행에서 적금통장을 개설하고, 입금/출금/잔액확인

In [117]:
# 1. 은행계좌 만들기

def open_account():
    print('새로운 계좌를 개설합니다.')

open_account()

새로운 계좌를 개설합니다.

In [118]:
# 2. 입금하기

def deposit(money, balance):
    print(f'{money} 원이 입금되었습니다. 잔액은 {balance} 원입니다.')
    return money + balance

balance = 0
deposit(5000, balance)

5000 원이 입금되었습니다. 잔액은 0 원입니다.

5000

In [120]:
# 3. 출금하기
balance = 5000
def withraw(balance, money):
    if balance >= money:
        print(f'{money}원을 출금했습니다. 잔액은 {balance - money}원 입니다')
        return balance - money
    else:
        print(f'잔액이 부족합니다. 뽑을 수 있는 잔액은 {balance}원 입니다')

balance = withraw(balance, 2000)

2000원을 출금했습니다. 잔액은 3000원 입니다

In [124]:
# 4. 수수료 부과하기
balance = 5000
def withraw_other(balance, money):
    commission = 500
    if balance >= money:
        print(f'업무시간외에는 수수료가 부과됩니다. {money}를 출금하여 수수료가 {commission}만큼 발생해서 잔액은 {balance - money - commission}원 입니다')
        return balance - money - commission
    else:
        print(f'잔액이 부족합니다. 뽑을 수 있는 잔액은 {balance}원 입니다')

balance = withraw_other(balance, 2000)

업무시간외에는 수수료가 부과됩니다. 2000를 출금하여 수수료가 500만큼 발생해서 잔액은 2500원 입니다

# 연습문제 1.
철수가 은행에 취업을 해서 처음 업무지시를 받은건 새로운 적금상품에 추가로 돈을 입금할 경우 자동으로 원금과 이자가 더해지도록 로직을 구현해야하는 상황

이때 함수를 사용하여서 기능을 구현하고, 모두 구현이 된 경우 입금이 완료되었습니다 메세지를 뜨게 하고
조건 : 적금 금리는 3.0%아고, 이자 산식은 원금 * 금리(간단하게 계산)

In [127]:
# 연습문제 1.
# x - 원래 있었던 금액
# y - 새로 불입한 금액
# z - 이자

def service_sum_amount(x,y,z):
  if y > 0:
      return int(x + y + (y * z/100))

print(service_sum_amount(0, 5000, 3.0))

5150

In [128]:
def service_price():
  service = input('서비스의 종류를 입력하세요 기본/프리미엄/올인원')
  valueprice = input('부가세 포함여부? y/n')
  if valueprice == 'y':
    if service == '기본':
      result = 300000 * 1.1
    elif service == '프리미엄':
      result = 600000 * 1.1
    elif service == '올인원':
      result = 1000000 * 1.1
  else:
    print("비용이 발생되지 않았습니다.")
  print(f"{result}만원 입니다.")
  #print(f"{round(result,1)}만원입니다.)

In [129]:
##########################################
# 스페이스 어드벤처 게임
# 벤 & 쉬무엘 만듦
##########################################
 
# 플레이어 환영 메시지
def doWelcome():
    # 텍스트 출력하기
    print("탐험가 여러분을 환영합니다!")
    print("혼란스러운 상태에서 잠을 깬 여러분은 아무것도 떠오르지 않습니다.")
    print("방문까지 겨우 기어가 손잡이를 돌렸더니 문이 열립니다.")
    print("밖으로 나가 봐도 모든 것이 낯설기만 합니다.")
    print("바깥 풍경은 척박하고 황량한 붉은 흙만이 흩날릴 뿐입니다.")
    print("우주복을 입은 자신을 발견하곤 모든 것이 궁금해집니다.")
 
# 장소: 출발점
def doStart():
    # 텍스트 출력하기
    print("주위를 둘러봐도 붉은 사막과 바위 더미와 먼지뿐입니다.")
    print("여러분 앞에는 이상하게 생긴 팔각형 구조물이 있습니다.")
    print("가까이 가니 삐 소리가 들립니다. 그리곤 멈춥니다. 아니, 계속됩니다.")
    # 플레이어 행동 선택 프롬프트
    choice = " "
    while not choice in "PSBR":
        print("여러분이 할 수 있는 일:")
        print("P = 바위 더미를 조사한다")
        print("S = 구조물에 접근한다")
        print("B = 삐 소리가 나는 곳으로 간다")
        print("R = 도망간다!")
        choice = input("무엇을 하고 싶으세요? [P/S/B/R]").strip().upper()
    # 행동 실행하기
    if choice == 'P':
        doBoulders()
    elif choice == 'S':
        doStructure()
    elif choice == 'B':
        doBeeping()
    elif choice == 'R':
        doRun()

# 장소: 바위 더미
# 인벤토리 시스템 구현용 개발자 메모 
# 이곳이 열쇠가 숨겨진 장소가 됩니다.
def doBoulders():
    # 텍스트 출력하기
    print("정말인가요? 그건 바위 더미입니다.")
    print("크고 무겁고 단순한 바위입니다.")
    # 시작 위치로 돌아가기
    doStart()

# 장소: 구조물
def doStructure():
    # 텍스트 출력하기
    print("여러분은 이상한 구조물을 조사합니다.")
    print("안에서는 오싹하면서도 기이한 소리가 들립니다.")
    print("문도 없고 창문도 없습니다.")
    print("아니, 문처럼 보여서 한번 열어 보려고 합니다.")
    print("그리고 삐 소리가 들립니다. 어디서 나는 소리일까요?")
    # 플레이어 행동 선택 프롬프트
    choice = " "
    while not choice in "SDBR":
        print("여러분이 할 수 있는 일:")
        print("S = 시작 지점으로 돌아간다")
        print("D = 문을 연다")
        print("B = 삐 소리가 나는 곳으로 간다")
        print("R = 도망간다!")
        choice = input("무엇을 하고 싶으세요? [S/D/B/R]").strip().upper()
    # 행동 실행하기
    if choice == 'S':
        doStart()
    elif choice == 'D':
        doStructureDoor()
    elif choice == 'B':
        doBeeping()
    elif choice == 'R':
        doRun()
 
# 장소: 구조물 입구
# 인벤토리 시스템 구현용 개발자 메모 
# 열쇠가 있을 때만 열 수 있습니다.
def doStructureDoor():
    # 텍스트 출력하기
    print("문은 잠긴 듯합니다.")
    print("둥근 구멍이 보입니다. 열쇠 구멍일까요?")
    print("그쪽으로 손을 내밀지만 파란빛이 번쩍이며 닫혀 버립니다!")
    print("계획한 대로는 잘 안 되는군요.")
    # 플레이어 행동 선택 프롬프트
    choice = " "
    while not choice in "SR":
        print("여러분이 할 수 있는 일:")
        print("S = 구조물로 돌아간다")
        print("R = 도망간다!")
        choice = input("무엇을 하고 싶으세요? [S/R]").strip().upper()
    # 행동 실행하기
    if choice == 'S':
        doStructure()
    elif choice == 'R':
        doRun()
 
# 장소: 삐 소리 탐색하기
def doBeeping():
    pass
 
# 플레이어가 도망가기를 선택하기
def doRun():
    # 텍스트 출력하기
    print("한동안 달립니다.")
    print("그리곤 허공에 뜬 자신을 발견합니다. 아래로, 아래로, 아래로.")
    print("아주 깊은 골짜기로 떨어지며 다시는 빛을 보지 못하리라는 생각이 듭니다.")
    print("그리 용감한 행동은 아니었네요. 그렇죠?")
    # 사망, 게임 끝내기
    gameOver()

# 게임 끝내기
def gameOver():
    print("게임 오버!")
 
# 실제 게임 시작은 이곳에서
# 환영 메시지 출력하기
doWelcome()
# 게임 시작하기
doStart()

탐험가 여러분을 환영합니다!
혼란스러운 상태에서 잠을 깬 여러분은 아무것도 떠오르지 않습니다.
방문까지 겨우 기어가 손잡이를 돌렸더니 문이 열립니다.
밖으로 나가 봐도 모든 것이 낯설기만 합니다.
바깥 풍경은 척박하고 황량한 붉은 흙만이 흩날릴 뿐입니다.
우주복을 입은 자신을 발견하곤 모든 것이 궁금해집니다.
주위를 둘러봐도 붉은 사막과 바위 더미와 먼지뿐입니다.
여러분 앞에는 이상하게 생긴 팔각형 구조물이 있습니다.
가까이 가니 삐 소리가 들립니다. 그리곤 멈춥니다. 아니, 계속됩니다.
여러분이 할 수 있는 일:
P = 바위 더미를 조사한다
S = 구조물에 접근한다
B = 삐 소리가 나는 곳으로 간다
R = 도망간다!
무엇을 하고 싶으세요? [P/S/B/R]P
정말인가요? 그건 바위 더미입니다.
크고 무겁고 단순한 바위입니다.
주위를 둘러봐도 붉은 사막과 바위 더미와 먼지뿐입니다.
여러분 앞에는 이상하게 생긴 팔각형 구조물이 있습니다.
가까이 가니 삐 소리가 들립니다. 그리곤 멈춥니다. 아니, 계속됩니다.
여러분이 할 수 있는 일:
P = 바위 더미를 조사한다
S = 구조물에 접근한다
B = 삐 소리가 나는 곳으로 간다
R = 도망간다!
무엇을 하고 싶으세요? [P/S/B/R]S
여러분은 이상한 구조물을 조사합니다.
안에서는 오싹하면서도 기이한 소리가 들립니다.
문도 없고 창문도 없습니다.
아니, 문처럼 보여서 한번 열어 보려고 합니다.
그리고 삐 소리가 들립니다. 어디서 나는 소리일까요?
여러분이 할 수 있는 일:
S = 시작 지점으로 돌아간다
D = 문을 연다
B = 삐 소리가 나는 곳으로 간다
R = 도망간다!
무엇을 하고 싶으세요? [S/D/B/R]D
문은 잠긴 듯합니다.
둥근 구멍이 보입니다. 열쇠 구멍일까요?
그쪽으로 손을 내밀지만 파란빛이 번쩍이며 닫혀 버립니다!
계획한 대로는 잘 안 되는군요.
여러분이 할 수 있는 일:
S = 구조물로 돌아간다
R = 도망간다!
무엇을 하고 싶으세요? [S/R]S
여러분은 이상한 구조물을 조사합니다.
안에서는 오싹하면서도 기이한 소리가 들립니다.
문도 없고 창문도 없습니다.
아니, 문처럼 보여서 한번 열어 보려고 합니다.
그리고 삐 소리가 들립니다. 어디서 나는 소리일까요?
여러분이 할 수 있는 일:
S = 시작 지점으로 돌아간다
D = 문을 연다
B = 삐 소리가 나는 곳으로 간다
R = 도망간다!
무엇을 하고 싶으세요? [S/D/B/R]B