#1. 함수_복습

In [ ]:
# 함수 정의

def add(x, y):
	value = x + y
	return value

add(3,4)

7

In [ ]:
# 가장 선호
x = add(3,4)
print(x)

7

In [ ]:
print(add(3,4))

7

In [ ]:
# 위치 인수의 예시

def sum_tax(price, unit, fee, tax_rate):
  return price + unit + fee + tax_rate

x = sum_tax(1000,2000,3000,4000)

print(x)

10000

In [ ]:
def sum_tax(price, unit, fee, tax_rate):
  return price * unit + fee + tax_rate

x = sum_tax(3000,1000,2000,4000)


print(x)

3006000

In [ ]:
# 키워드 인수 예제 
x = sum_tax(price = 1000, unit = 2000,fee = 3000,tax_rate = 4000)

print(x)

2007000

In [ ]:
# 키워드 인수 + 위치 인수 예제 
x = sum_tax(1000, 200, fee = 3000, 4000)

print(x)

SyntaxError: ignored

In [ ]:
# * arg의 예시

def func(x, y , *args):
  print(x)
  print(y)
  if args:
    print(args)

func(1, 2)
print()
func(1,2,3,4,5)

1
2

1
2
(3, 4, 5)

In [ ]:
## **kwargs

def func(x, y , **kwargs):
  print(x)
  print(y)
  if kwargs:
    print(kwargs)

func(x = 1, y = 2)
print()
func(x = 1,y = 2,z = 3,w = 4,r = 5)

1
2

1
2
{'z': 3, 'w': 4, 'r': 5}

In [ ]:
# *과 **의 조합

def func(a, *args, **kwargs):
  print(a)
  print(args)
  print(kwargs)

func(1, 100, 200 ,x = 1, y = 2)
print()
func(1, 100, 200, x = 1,y = 2,z = 3,w = 4,r = 5)

1
(100, 200)
{'x': 1, 'y': 2}

1
(100, 200)
{'x': 1, 'y': 2, 'z': 3, 'w': 4, 'r': 5}

In [ ]:
# 함수 바깥에서의 *와 **는 언패킹이 된다.

# [리스트, 튜플 언패킹]

def func(x, y, z):
  print(x, y, z)
  return x + y + z

params = [1,2,3]



w = func(*params)
print(w)

1 2 3
6

In [ ]:
# 딕셔너리 언패킹

def func(x,y,z):
  print(x,y,z)
  return x + y+ z

params = {"y" : 1, "x" : 2, "z" : 3} # -> func(1,2,3)
w = func(**params)
print(w)

2 1 3
6

In [ ]:
# 언패킹 결합

def func(x,y,z,a,b):
  print(x,y,z,a,b)
  return x+y+z+a+b

params1 = [1,2,3]
params2 = {"a" : 4, "b" : 5}
w = func(*params1, **params2)
print(w)

1 2 3 4 5
15

In [ ]:
# 함수의 변수화

def add_num(x,y):
  return x+y

f = add_num

y = add_num(100,200)
print(y)

x = f(100,200)
print(x)

300
300

In [ ]:
# 데코레이터
def uppercase_decorator(func):
    def wrapper():
        result = func().upper()
        return result
    return wrapper

def say_hello():
    return "hello"

print(say_hello())  # 출력: HELLO

hello

In [ ]:
def uppercase_decorator(func):
    def wrapper():
        result = func().upper()
        return result
    return wrapper

@uppercase_decorator
def say_hello():
    return "hello"

print(say_hello())  # 출력: HELLO

HELLO

In [ ]:
# 제너레이터 예시

# 파이썬에서는 제너레이터라는 기능도 제공합니다. 
# 제너레이터를 사용하면 함수를 처리하는 도중에 잠시 중단하고, 
# 값을 반환할 수 있으며, 이를 yield라고도 부릅니다. 
# 이후 필요에 따라 처리를 할 수도 있습니다.

# 제너레이터 함수의 반환값은 generator 타입 변수입니다. 
# 제너레이터 객체는 next함수를 이용해 다음 값을 반환할 수 있습니다.

In [ ]:
def sample_generator():
  """제너레이터 함수"""
  print("처리 시작")
  print("처리 재개")
  print("처리 재개")

gen_obj = sample_generator() #제너레이터 객체 생성

처리 시작
처리 재개
처리 재개

In [ ]:
def sample_generator():
  """제너레이터 함수"""
  print("처리 시작")
  yield "아침 먹자"
  print("처리 재개")
  yield "점심 먹자"
  print("처리 재개")
  yield "저녁 먹자"

gen_obj = sample_generator() #제너레이터 객체 생성
print(next(gen_obj))

처리 시작
아침 먹자

In [ ]:
print(next(gen_obj))

처리 재개
점심 먹자

In [ ]:
print(next(gen_obj))

처리 재개
저녁 먹자

In [ ]:
# next로 호출될때까지 실행이 중단되는것을 볼 수 있습니다. 
# 그리고 다시 next로 실행하면 yield가 실행되는것까지 재개되는것을 볼 수 있습니다.

# 클래스 복습

In [ ]:
class 클래스명:
  def __init__(self, 인수):
    초기화 처리

  def 메서드명(self,인수):
    메서드 행동

In [ ]:
# 객체 = 클래스명(인수) - 객체 생성
# 객체.인스턴스변수 인스턴스변수에 접근
# 객체.메서드명(인수) 메서드 호출

In [ ]:
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self):
    """ 사용자 정보를 Print로 출력"""
    print(self.name)
    print(self.mail)

In [ ]:
# 객체 생성
# 객체 = 클래스명(인수) - 객체 생성
user = User("User1", "222@naver.com")

In [ ]:
# 인스턴스 변수 호출
user.mail

'222@naver.com'

In [ ]:
#메서드 호출
user.print_user_info()

User1
222@naver.com

In [ ]:

# 인스턴스 변수 호출
user.name
#메서드 호출
user.print_user_info()
#인스턴스 변수 갱신
user.name = "User2"
#메서드 재호출 - 갱신 확인
user.print_user_info()

User1
222@naver.com
User2
222@naver.com

In [ ]:
#인스턴스 변수 갱신
user.name = "User2"
#메서드 재호출 - 갱신 확인
user.print_user_info()

User2
222@naver.com

In [ ]:
# 클래스 예시
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self, address):
    """ 사용자 정보를 Print로 출력"""
    print(self.name) 
    print(self.mail)
    print(address)

In [ ]:
# 객체 생성
# 객체 = 클래스명(인수) - 객체 생성
user = User("User1", "222@naver.com")

In [ ]:
user.print_user_info('서울특별시')

User1
222@naver.com
서울특별시

In [ ]:
# 클래스 상속

class 클래스명(상속할 클래스):
    def __init__(self, 인수):
        super().__init__(인수)
        상속받은 클래스에서의 초기화 처리

In [ ]:
# 부모클래스
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self):
    """ 사용자 정보를 Print로 출력"""
    print(self.name)
    print(self.mail)

In [ ]:
class StudentUser(User):
  def __init__(self, name, mail, grade):
    super().__init__(name, mail)
    self.grade = grade

  def answer_question(self):
    print("문제에 대답합니다.")

  def print_grade(self):
    print(self.grade, self.name, self.mail)

In [ ]:
# 상속 받을 자녀 클래스
class StudentUser(User): # StudentUser가 상속 받음
  def __init__(self, name, mail, grade):
    super().__init__(name, mail)
    self.grade = grade

  def answer_question(self):
    print("문제에 대답합니다.")

  def print_grade(self):
    print(self.grade, self.name, self.mail)

In [ ]:
student = StudentUser("Student1", "Student1@1.1", 3)

In [ ]:
#상속받은 User메서드 실행
student.print_user_info()

Student1
Student1@1.1

In [ ]:
#StudentUser메서드 실행
student.answer_question()
student.print_grade()

문제에 대답합니다.
3 Student1 Student1@1.1

In [ ]:
# 메서드 종류

로드 중...
로드 중...
파이썬_복습_최종.ipynb
파이썬_복습_최종.ipynb_노트북 별표 삭제됨
1. 함수_복습
[ ]
# 함수 정의

def add(x, y):
    value = x + y
    return value

add(3,4)
7
[ ]
# 가장 선호
x = add(3,4)
print(x)
7
[ ]
print(add(3,4))
7
[ ]
# 위치 인수의 예시

def sum_tax(price, unit, fee, tax_rate):
  return price * unit + fee + tax_rate

x = sum_tax(1000,2000,3000,4000)

print(x)
2007000
[ ]
def sum_tax(price, unit, fee, tax_rate):
  return price * unit + fee + tax_rate

x = sum_tax(3000,1000,2000,4000)

print(x)
3006000
[ ]
# 키워드 인수 예제 
x = sum_tax(price = 1000, unit = 2000,fee = 3000,tax_rate = 4000)

print(x)
2007000
[ ]
# 키워드 인수 + 위치 인수 예제 
x = sum_tax(1000, 200, fee = 3000, 4000)

print(x)

[ ]
# * arg의 예시

def func(x, y , *args):
  print(x)
  print(y)
  if args:
    print(args)

func(1, 2)

# *args를 사용하면 3,4,5에 대해서 패킹한다.
func(1,2,3,4,5)
1
2
1
2
(3, 4, 5)
[ ]
## **kwargs 예제 

def func(x, y , **kwargs):
  print(x)
  print(y)
  if kwargs:
    print(kwargs)

func(x = 1, y = 2, z = 3)
print()
# 딕셔너리 형태로 패킹
func(x = 1,y = 2,z = 3,w = 4,r = 5)
1
2
{'z': 3}

1
2
{'z': 3, 'w': 4, 'r': 5}
[ ]
# *과 **의 조합

def func(a, *args, **kwargs):
  print(a)
  print(args)
  print(kwargs)

func(1, 100, 200 ,x = 1, y = 2)
print()
func(1, 100, 200, x = 1,y = 2,z = 3,w = 4,r = 5)
1
(100, 200)
{'x': 1, 'y': 2}

1
(100, 200)
{'x': 1, 'y': 2, 'z': 3, 'w': 4, 'r': 5}
[ ]
# 함수 바깥에서의 *와 **는 언패킹이 된다.

# [리스트, 튜플 언패킹]

def func(x, y, z):
  print(x, y, z)
  return x + y + z

params = [1,2,3] # -> func(1,2,3)

w = func(*params)
print(w)
1 2 3
6
[ ]
# 딕셔너리 언패킹

def func(x,y,z):
  print(x,y,z)
  return x + y+ z

params = {"x" : 1, "y" : 2, "z" : 3} # -> func(1,2,3)
w = func(**params)
print(w)
1 2 3
6
[ ]
# 언패킹 결합

def func(x,y,z,a,b):
  print(x,y,z,a,b)
  return x+y+z+a+b

params1 = [1,2,3]
params2 = {"a" : 4, "b" : 5}
w = func(*params1, **params2)
print(w)
1 2 3 4 5
15
[ ]
# 함수의 변수화

def add_num(x,y):
  return x+y

f = add_num

y = add_num(100,200)
print(y)

x = f(100,200)
print(x)
300
300
[ ]
# 데코레이터
def uppercase_decorator(func):
    def wrapper():
        result = func().upper()
        return result
    return wrapper

def say_hello():
    return "hello"

print(say_hello())  # 출력: HELLO
hello
[ ]
def uppercase_decorator(func):
    def wrapper():
        result = func().upper()
        return result
    return wrapper

@uppercase_decorator
def say_hello():
    return "hello"

print(say_hello())  # 출력: HELLO
HELLO
[ ]
# 제너레이터 예시

# 파이썬에서는 제너레이터라는 기능도 제공합니다. 
# 제너레이터를 사용하면 함수를 처리하는 도중에 잠시 중단하고, 
# 값을 반환할 수 있으며, 이를 yield라고도 부릅니다. 
# 이후 필요에 따라 처리를 할 수도 있습니다.

# 제너레이터 함수의 반환값은 generator 타입 변수입니다. 
# 제너레이터 객체는 next함수를 이용해 다음 값을 반환할 수 있습니다.
[ ]
def sample_generator():
  """제너레이터 함수"""
  print("처리 시작")
  print("처리 재개")
  print("처리 재개")

gen_obj = sample_generator() #제너레이터 객체 생성
처리 시작
처리 재개
처리 재개
[ ]
def sample_generator():
  """제너레이터 함수"""
  print("처리 시작")
  yield "아침 먹자"
  print("처리 재개")
  yield "점심 먹자"
  print("처리 재개")
  yield "저녁 먹자"

gen_obj = sample_generator() #제너레이터 객체 생성
print(next(gen_obj))
처리 시작
아침 먹자
[ ]
print(next(gen_obj))
처리 재개
점심 먹자
[ ]
print(next(gen_obj))
처리 재개
저녁 먹자
[ ]
# next로 호출될때까지 실행이 중단되는것을 볼 수 있습니다. 
# 그리고 다시 next로 실행하면 yield가 실행되는것까지 재개되는것을 볼 수 있습니다. 
클래스 복습
[ ]
class 클래스명:
  def __init__(self, 인수):
    self.인수 = 인수
    self.인수1 = 인수1

  def 메서드명(self,인수):
    메서드 행동
[ ]
# 객체 = 클래스명(인수) - 객체 생성
# 객체.인스턴스변수 인스턴스변수에 접근
# 객체.메서드명(인수) 메서드 호출
[ ]
# 클래스 예시
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self):
    """ 사용자 정보를 Print로 출력"""
    print(self.name) 
    print(self.mail)
[ ]
# 객체 생성
# 객체 = 클래스명(인수) - 객체 생성
user = User("User1", "222@naver.com")
[ ]
# 인스턴스 변수 호출
user.mail

[ ]
#메서드 호출
user.print_user_info()
User1
222@naver.com
[ ]
#인스턴스 변수 갱신
user.name = "User2"
#메서드 재호출 - 갱신 확인
user.print_user_info()
User2
222@naver.com
[ ]
# 클래스 예시
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self, address):
    """ 사용자 정보를 Print로 출력"""
    print(self.name) 
    print(self.mail)
    print(address)
[ ]
# 객체 생성
# 객체 = 클래스명(인수) - 객체 생성
user = User("User1", "222@naver.com")
[ ]
user.print_user_info('서울특별시')
User1
222@naver.com
서울특별시
[ ]
# 클래스 상속

class 클래스명(상속할 클래스)
  def __init__(self, 인수):
    super().__init__(인수)
    상속받은 클래스에서의 초기화처리
[ ]
# 부모 클래스
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self):
    """ 사용자 정보를 Print로 출력"""
    print(self.name)
    print(self.mail)
[ ]
# 상속 받을 자녀 클래스
class StudentUser(User): # StudentUser가 상속 받음

  def __init__(self, name, mail, grade):
    # 자녀클래스에서도 __init__을 통해서 초기화 메서드를 생성하려면
    # super().__init__(인자)
    super().__init__(name, mail)
    self.grade = grade

  def answer_question(self):
    print("문제에 대답합니다.")

  def print_grade(self):
    print(self.grade, self.name, self.mail)
[ ]
student = StudentUser("Student1", "Student1@1.1", 3)
[ ]
#상속받은 User메서드 실행
student.print_user_info()
Student1
Student1@1.1
[ ]
#StudentUser메서드 실행
student.answer_question()
student.print_grade()
문제에 대답합니다.
3 Student1 Student1@1.1
[ ]
# 메서드 종류
인스턴스 메서드 - self로 설정한 클래스 기본 메서드 인스턴스 변수와 클래스변수에 접근가능

클래스 메서드 - 인스턴스를 생성하지 않고 접근할 수 있는 메서드로 클래스 변수에 접근할 수 있지만 인스턴스 변수에는 접근할 수 없다.

클래스 메서드를 정의할때는 @classmethod 데커레이터를 추가합니다. 그리고 첫번째 인수에 클래스 객체가 자동으로 설정됩니다.

정적 메서드 - 클래스 메서드와 동일하게 인스턴스를 생성하지 않고 접근할 수 있지만 인스턴스 변수와 클래스변수 모두에 접근할 수 없습니다. @staticmethod 데커레이터를 추가하며, 실질적으로 함수와 같은것이라고 보면되는데, 함수를 적절한 클래스에 포함시키는 편이 설계상으로 바람직할때 사용합니다.

[ ]
Colab 유료 제품 - 여기에서 계약 취소

In [ ]:
# 비공개 메서드

# 팀 단위의 개발에서 객체 지향 방식으로 구현할때는 
# 변수 및 메서드를 외부에서 조작하지 못하도록 해야할때가 있다. 
# 변수나 메서드 앞에 __를 2개 사용해서 접근을 막을 수 있다.

class Sample():
  def __init__(self, val1):
    self.__instance_val1 = val1

  def __private_method(self):
    print(self.__instance_val1)

s = Sample(10)

In [ ]:
# 특수 메서드
# str 메서드 - 객체 표시용 문자열
# repr 메서드 - 객체 정보를 나타내는 문자열

In [ ]:
class User:
  def __init__(self, name, mail):
    self.name = name
    self.mail = mail

  def __str__(self):
    return self.name + self.mail

  def __repr__(self):
    return str({'name' : self.name, 'mail' : self.mail})

user = User("홍길동", "happy@naever.com")
print(user)
print(repr(user))

홍길동happy@naever.com
{'name': '홍길동', 'mail': 'happy@naever.com'}

# 정규표현식

In [ ]:
# 정규표현식 기본

# re -> 모듈을 불러와야 수행가능
import re

# [raw 문자열 사용]

# 파이썬에서는 정규표현식 문자열을 사용할때 이스케이프가 필요한 메타문자가 있다. 
# 그래서 raw문자 사용을 권한다.

# 만약 \my-host\라는 문자가 있는 경우\
# raw문자열이 없으면 \\\\my-host\\\\가 되지만
# raw문자열을 사용하면 \\my-host\\가 된다.  앞에 r을 붙이면 된다.

In [ ]:
# findall

# 지정한 정규표현식에 일치하는 문자열을 리스트로 반환
# findall 함수를 사용하면 지정한 조건에 일치하는 문자열을 리스트로 얻을 수 있습니다.

In [ ]:
import re

text1 = "In the face of ambiguity, refuse the temptation to guess"
match_list = re.findall(r"t.", text1)
#2글자를 찾되 첫글자가 t

print(match_list)

['th', 'ty', 'th', 'te', 'ta', 'ti', 'to']

In [ ]:
# sub

# 정규표현식으로 치환한 값을 반영하여 문자열을 반환

import re

text = "Beautiful is better than ugly"
#sub(대체 해야할 문자 / 대체 할 문자 / 데이터)
replaced = re.sub(r" ", "_", text) #공백문자는 \s로도 쓰입니다.
print(replaced)

Beautiful_is_better_than_ugly

In [ ]:
# split

# 정규 표현식에 일치한 위치에서 분할한 문자열 리스트를 반환

In [ ]:
# 정규표현식으로 텍스트 분할하기

# split함수를 사용하면 정규 표현식에 일치한 위치에서 분할한 문자열 리스트를 얻을 수 있습니다.

text = 'Simple is Best'
# ^ -> 문자의 시작 
# + 직전 정규표현식을 1회이상 반복
replaced = re.split((r"[^a-zA-Z]+"), text)
print(replaced)

#[^a-zA-Z0-9]+는 정규 표현식(regular expression)에서 사용되는 특수한 패턴으로, 
#알파벳 대소문자와 숫자가 아닌 문자들이 하나 이상 연속해서 나타나는 경우를 의미합니다.
# 결국 공백을 구분자로 해서 분리

['Simple', 'is', 'Best']

In [ ]:
# 정규표현식으로 텍스트 분할하기

# split함수를 사용하면 정규 표현식에 일치한 위치에서 분할한 문자열 리스트를 얻을 수 있습니다.

text = 'Simple is Best'
# ^ -> 문자의 시작 
# + 직전 정규표현식을 1회이상 반복
replaced = re.split((r"[^a-zA-Z]+"), text)
print(replaced)

#[^a-zA-Z0-9]+는 정규 표현식(regular expression)에서 사용되는 특수한 패턴으로, 
#알파벳 대소문자와 숫자가 아닌 문자들이 하나 이상 연속해서 나타나는 경우를 의미합니다.
# 결국 공백을 구분자로 해서 분리

['Simple', 'is', 'Best']

In [ ]:
# 정규표현식으로 텍스트 분할하기

# split함수를 사용하면 정규 표현식에 일치한 위치에서 분할한 문자열 리스트를 얻을 수 있습니다.

text = 'Simple is Best'
# ^ -> 문자의 시작 ㅁ
# + 직전 정규표현식을 1회이상 반복
replaced = re.split((r"[^a-zA-Z]+"), text)
print(replaced)

#[^a-zA-Z0-9]+는 정규 표현식(regular expression)에서 사용되는 특수한 패턴으로, 
#알파벳 대소문자와 숫자가 아닌 문자들이 하나 이상 연속해서 나타나는 경우를 의미합니다.
# 결국 공백을 구분자로 해서 분리

['Simple', 'is', 'Best']

In [ ]:
# 정규표현식의 그룹은 데이터 분석 할때 자주 사용하는 기능으로
# 원하는 객체를 그루핑할 수 있다라는 장점이 있습니다.

# 제품 -> [0-9]+
# 카탈로그 코드 [0-9A-Z]+
# 제품명 .*
# 구분 문자 공백

# ([0-9]+) +([ 0-9 A-Z]+) +(.*)

#홈쇼핑#
text = """
101 CF001 커피 
102 CF002 커피(대용량)
201 TE01 홍차
202 TE02 홍차(대용량)
"""
#group 1 
#group 2
#group 3
items = re.findall(r'([0-9]+) +([ 0-9 A-Z]+) +(.*)', text)
print(items)

[('101', 'CF001', '커피 '), ('102', 'CF002', '커피(대용량)'), ('201', 'TE01', '홍차'), ('202', 'TE02', '홍차(대용량)')]

In [ ]:
# 정규표현식 일치하는 부분 확인

# search함수 - 정규표현식과 일치하는 첫번째 위치정보가 저장된 Match객체를 반환

In [ ]:
# 정규표현식과 일치하는 부분 확인

# re 모듈의 serach함수는 정규표현식과 일치하는 첫 번째 위치 정보가 저장된 Match 객체를 반환
# Match 객체를 사용하면 일치하는 위치의 문자열과 함께 시작 및 종료 위치 정보 확보 가능

# match객체
# start , end , group, groups 튜플 그룹

import re

text = 'Error should never pass silently'

m_obj = re.search(r"p...", text)

print(m_obj.group()) # 일치 문자열 ()로 묶인 것인 없음
print(m_obj.start()) # 시작 인덱스
print(m_obj.end()) # 끝 인덱스

pass
19
23

In [ ]:
import re

text = 'Errors should never pass silently'
# 1번 그룹 - n.... n다음에 4글자가 아무거나
# 2번 그룹 - P... n다음에 3글자가 아무거나

m_obj = re.search(r"(n....) (p...)", text)
print(m_obj.group())
print(m_obj.groups())

print(m_obj.start()) # 시작 인덱스
print(m_obj.end()) # 끝 인덱스

never pass
('never', 'pass')
14
24

In [ ]:
# Greedy Lazy

In [ ]:
# Greedy, Lazy 사용하기
# 정규표현식이 패턴에 일치하는 문자열을 추출할때
# 일치하는 최대한의 범위를 추출하는 상태를 greedy(탐욕)이라고 한다.

# 최소한은  Lazy라고 하는데 파이썬은 기본적으로 greedy하지만
# ?를 붙이는 순간 Lazy해진다. 

import re

text = 'In the face of ambiguity, refuse the temptation to guess'

match_list = re.findall(r"t.*\s", text) # t에서 아무문자나 해서 직전까지 0번 반복되어 공백까지
print(match_list)

# ?를 붙이면 t에서 가장 가까운 공백까지만 일치하는 것을 찾는 것을 볼 수 있음

['the face of ambiguity, refuse the temptation to ']

In [ ]:
import re

text = 'In the face of ambiguity, refuse the temptation to guess'

match_list = re.findall(r"t.*?\s", text) # t에서 아무문자나 해서 직전까지 0번 반복되어 공백까지
print(match_list)

['the ', 'ty, ', 'the ', 'temptation ', 'to ']

[모듈이란?]

파이썬에서 이미 작성된 프로그램을 모듈이라고 생각하면 쉬움
그 프로그램의 묶음은 패키지이다.

쉬운 예로 레고블럭 하나하나가 모듈이라고 생각하면 되고 그것이 모여 하나의 큰 모듈 및 패키지 완성품을 만들 수 있고, 
이러한 개념은 스마트폰이나 자동차등 생활 곳곳에서 볼 수 있음

그러면 프로그래밍에서의 모듈은 무엇일까? -> 작은 프로그램의 조각을 뜻한다. 각 모듈은 저마다의 역할이 있다.

우리는 이미 많은 모듈을 사용했었다. random 모듈 time 모듈 등 import를 해서 사용이 가능하고 기본적으로 파이썬에 내장되어있는 모듈을 위주로 사용했었다.

[패키지란?]

# 패키지란?

패키지는 쉽게 모듈의 묶음이다. from을 통해 모듈을 호출하는 경우가 있었는데
이는 패키지는 출력하기 위한 수단이다.

하나의 패키지 안에는 보통 여러 모듈이 있다.

여러분들도 좋은 패키지가 많이 구현이 되어있기 때문에 앞으로 그런 패키지를 공부할것이고 데이터 분석에 활용할것임

여러분들도 그러한 패키지를 만들어서 사회에 공헌했으면 하는 바램도 있음

그러면 일단 우리가 사용했던 모듈과 더 살펴봐야할 모듈을 배워보고, 모듈을 직접 만들어 보자!!

## 1.1 모듈과 패키지 사용하는 법

지금까지 파이썬 코드를 작성하면서 input, print 등의 내장 함수(built-in function)를 주로 사용했는데, 내장 함수만으로는 할 수 있는게 별로 없습니다. 그래서 좀 더 복잡한 프로그램을 만들려면 파이썬의 모듈과 패키지를 사용해야 합니다. 우리가 책 중간 중간에 사용했던 random, turtle, pickle 등이 바로 모듈과 패키지입니다.

모듈(module)은 각종 변수, 함수, 클래스를 담고 있는 파일이고, 패키지(package)는 여러 모듈을 묶은 것입니다. 파이썬을 설치할 때 다양한 모듈과 패키지가 기본으로 설치됩니다. 만약 기본 모듈과 패키지로 부족하다면 다른 사람이 만든 유명 모듈과 패키지를 설치해서 쓸 수도 있습니다.

In [ ]:
# 모듈 예시 - 1
import math

math.pi

3.141592653589793

In [ ]:
math.sqrt(4)

2.0

In [ ]:
# 모듈의 에러

#ModuleNotFoundError: No module named ...: 
#모듈의 이름이 잘못되었을 때 발생하는 에러입니다. 모듈 이름이 맞는지 확인해주세요.

#AttributeError: module ... has no attribute ...: 
#모듈의 변수나 함수의 이름을 잘못되었을 때 발생하는 에러입니다. 변수, 함수의 이름이 맞는지 확인해주세요.

In [ ]:
# Import as 
import 모듈 as 이름

In [ ]:
import math as ma

In [ ]:
ma.sqrt(4.0)

2.0

In [ ]:
# 모듈의 일부만 가져오는

from 모듈 import 함수
from 모듈 import 클래스

In [ ]:
from math import sqrt

In [ ]:
sqrt(4.0)

2.0

In [ ]:
# 이름을 지정할 수 있다.
from math import sqrt as sq

In [ ]:
sq(4.0)

2.0

#1.2 패키지 가져오기

In [ ]:
import urllib.request

In [ ]:
response = urllib.request.urlopen('http://www.google.co.kr')

In [ ]:
response.status

200

In [ ]:
import urllib.request as r

In [ ]:
from urllib.request import Request, urlopen

In [ ]:
from urllib.request import *

In [ ]:
from 패키지.모듈 import 변수 as 이름, 함수 as 이름, 클래스 as 이름

In [ ]:
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-18.9.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 19.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-18.9.0

In [ ]:
# 이번에는 pip을 사용하여 유용한 외부 라이브러리중 하나인 faker를 설치하고 사용해 보자. 
# faker는 테스트용 가짜 데이터를 생성할 때 사용하는 라이브러리이다.

# 만약 다음과 같은 형식의 테스트 데이터 30건이 필요하다고 가정해 보자. 
# 직접 데이터를 작성하지 말고 좀 더 편리한 방법으로 테스트 데이터를 만들려면 어떻게 해야 할까?

In [ ]:
[(이름1, 주소1), (이름2, 주소2), ..., (이름30, 주소30)]

In [ ]:
from faker import Faker
fake = Faker()
fake.name()

'Lonnie Christensen'

In [ ]:
fake = Faker('ko-KR')
fake.name()

'김영희'

In [ ]:
fake.address()

'울산광역시 강남구 백제고분2로 (성훈장우리)'

In [ ]:
test_data = [(fake.name(), fake.address(), fake.phone_number()) for i in range (30)]

In [ ]:
fake.catch_phrase()

'줄어든 작동 데이터베이스'

In [ ]:
test_data

[('이상호', '대구광역시 마포구 가락로 (지은박면)', '054-668-9343'),
 ('김지연', '전라남도 청주시 서원구 반포대98가 (서영강이읍)', '042-645-6262'),
 ('김은영', '광주광역시 은평구 잠실거리 (정남이읍)', '02-1272-5650'),
 ('류경자', '대구광역시 도봉구 강남대거리 (은지김읍)', '051-006-0195'),
 ('우지은', '부산광역시 성북구 학동거리 (지연김이면)', '02-9514-6022'),
 ('김준호', '전라북도 화성시 잠실로 (현주이장리)', '052-410-3625'),
 ('김준서', '강원도 연천군 테헤란9가', '052-095-1946'),
 ('이수민', '경상북도 성남시 중원구 잠실로', '063-170-8766'),
 ('박민재', '대구광역시 서구 압구정0거리', '011-922-1241'),
 ('김영철', '대구광역시 용산구 영동대01거리 (성현윤마을)', '011-022-8750'),
 ('윤민재', '충청북도 부천시 오정구 가락가', '033-267-6168'),
 ('김정수', '울산광역시 강북구 언주3거리 (도현최황마을)', '062-980-1753'),
 ('최미경', '경상북도 서산시 압구정449길', '018-474-5075'),
 ('이정호', '대구광역시 강서구 강남대891길', '062-577-0541'),
 ('김영호', '광주광역시 성북구 테헤란7가 (서윤김최리)', '042-570-7894'),
 ('김성훈', '대구광역시 관악구 압구정452거리', '017-574-1599'),
 ('박민수', '세종특별자치시 양천구 오금9가', '043-143-9024'),
 ('김준영', '서울특별시 송파구 봉은사길', '043-878-1390'),
 ('김옥자', '서울특별시 강서구 가락64가', '019-433-5671'),
 ('박서윤', '울산광역시 강북구 선릉로', '016-929-0620'),
 ('김지혜', '충청남도 아산시 서초중앙917가 (보람서동)', '018-682-6255'),
 ('안건우', '강원도 가평군 학동길', '033-230-0414'),
 ('이성진', '제주특별자치도 아산시 압구정거리 (영수한박면)', '055-165-3899'),
 ('김상철', '인천광역시 송파구 테헤란50길 (영자김동)', '031-721-6007'),
 ('김미영', '세종특별자치시 도봉구 석촌호수길', '042-234-1809'),
 ('최동현', '제주특별자치도 고양시 잠실179가', '044-872-5417'),
 ('조정수', '전라북도 고양시 반포대가', '054-908-7050'),
 ('배미정', '대전광역시 동구 테헤란37길 (병철진면)', '042-832-8154'),
 ('박하은', '세종특별자치시 종로구 선릉9로', '044-475-2234'),
 ('이지현', '충청남도 의정부시 역삼4가 (은영이이면)', '053-975-4931')]

In [ ]:
항목	설명
fake.name()	이름
fake.address()	주소
fake.postcode()	우편 번호
fake.country()	국가명
fake.company()	회사명
fake.job()	직업명
fake.phone_number()	휴대 전화 번호
fake.email()	이메일 주소
fake.user_name()	사용자명
fake.pyint(min_value=0, max_value=100)	0부터 100 사이의 임의의 숫자
fake.ipv4_private()	IP 주소
fake.text()	임의의 문장 (한글 임의의 문장은 fake.catch_phrase() 사용)
fake.color_name()	색상명

In [ ]:
# [모듈 만들기]

theater_module.py 라는 파이썬 파일을 만들어서 이 파일에 사람수에 따른 영화표 가격을 계산하는 함수 3개를 정의하려고한다.
코드는 다음과 같다. 
이 파일은 사람 수에 따른 영화표 가격을 계산하는 함수 3개입니다.
첫번째 price는 1인당 영화표 1만원, 두번째는 학생할인으로 20% 할인, 세번째는 VIP석으로 1.5만원으로 출력합니다.

In [ ]:
#경로설정
import os
os.chdir("/content/sample_data")

In [ ]:
import theater_module_test as th

In [ ]:
th.price(6)

영화표 가격은 60000 입니다.

In [ ]:
th.price_student(4)

영화표 가격은 8000.0 입니다.

In [ ]:
th.price_vip(8)

영화표 가격은 120000 입니다.

In [ ]:
from theater_module_test import *

In [ ]:
price(10)

영화표 가격은 100000 입니다.

In [ ]:
# 패키지 만들기

In [1]:
import os
os.chdir("/content/sample_data")

In [ ]:
import pkg_ex.pkg_kr

In [ ]:
trip = pkg_ex.pkg_kr.SeoulPkg()

In [ ]:
trip.detail()

[서울 도심 패키지] 호캉스 100만원

In [ ]:
import pkg_ex.pkg_jp as jp

In [ ]:
trip_jp = jp.OsakaPkg()
trip_jp.detail()

[오사카] 유니버셜 패키지 100만원

#모듈 공개 설정

In [ ]:
# 우리는 보통 모든 패키지를 불러올때 다음과 같이 사용하죠
from random import *

In [2]:
from pkg_ex import *

In [6]:
trip_ex = pkg_kr.SeoulPkg() #서울의 서울 패키지
trip_ex.detail()

[서울 도심 패키지] 호캉스 100만원

In [3]:
trip_ex = pkg_jp.OsakaPkg() #오사카의 서울 패키지
trip_ex.detail()

[오사카] 유니버셜 패키지 100만원

In [ ]:
# 아까와 같이 실행했는데 다음과 같이 오류가 뜨게 됩니다. import 할때 *로 표시한다는 것은
# pkg_ex에 있는 모든 기능을 가져다 쓴다는 뜻인데 왜 실행이 안됐을까요?

# 아직 공개설정이 안되서 그렇습니다.
# 패키지는 공개범위를 설정할 수 있습니다.
# 여러분께서도 공개하고 싶지 않은 것에 대해서는 사용할 수 없게 비공개로 둘수도 있어요

# 앞서 아무 기능을 하지 않았던 __init__.py를 기억할텐데 다음과 같이 설정하면 공개설정을 할 수 있어요

In [4]:
# 재정의 후 다시 실행

from pkg_ex import *

trip_ex2 = pkg_jp.OsakaPkg() #일본의 오사카 패키지
trip_ex2.detail()

[오사카] 유니버셜 패키지 100만원

In [10]:
if __name__ == "__main__":
  pass
else:
  pass

In [6]:
#__name__은 현재 모듈의 이름을 값으로 가지는 내장 변수입니다. 
#그래서 앞의 코드와 같이 작성하면 파일이 실행될때 if문이 실행되게 되고, 
#__main__이 아닌 그 모듈의 이름을 가져오게 됩니다.

In [7]:
# pkg_ex 패키지의 seoul.py에서 SeoulPkg() 클래스 정의 아래에 다음과 같이 코드를 쓰면
# __name__변수가 __main__일때 
# 모듈을 직접 실행하는 경우에는 if문에서 출력문과 함께 detail() 메서드를 호출하고
# 그렇지 않으면 else문으로 호출 안내 문구를 넣어봅시다.

In [8]:
#파일명 seoul_new.py

class SeoulPkg:
  def detail(self):
    print("[서울 도심 패키지] 호캉스 100만원")

if __name__ == "__main__":
  print("seoul 모듈 직접 실행되었습니다.")
  trip_seoul = SeoulPkg()
  trip_seoul.detail()
else:
  print("외부에서 seoul 모듈 실행되었습니다.")

seoul 모듈 직접 실행되었습니다.
[서울 도심 패키지] 호캉스 100만원

In [2]:
import pkg_ex.seoul_new

외부에서 seoul 모듈 실행되었습니다.